.box{
    list-style: none;
    float: left;
    width: calc(100% / 3);
    padding: 0 15px;
    margin: 15px 0;
}
.box .item{
    box-shadow: 0 0 5px #d6d6d6;
    float: left;
    width: 100%;
    padding: 20px;
}
.box .item h2{
    height: 60px;
}
.box .item img{
    aspect-ratio: 16 / 9;
}
#paginator{
    float: left;
    width: 100%;
}
#paginator li{
    list-style: none;
    float: left;
    margin-right: 15px;
    border: 1px solid black;
    padding: 10px;
}