*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: #fafafa;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.35;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
    color: #4040f2;
    transition: all 300ms;
}
a:hover{
    color: #6f6fda;
}
p{
    margin-bottom: 10px;
}

/* layout */
.section{
    float:left;
    width: 100%;
}
.container{
    float: none;
    width: 1200px;
    margin: 0 auto;
}

.nav{
    background-color: green;
}

/* demo chia box model */
.box-left{
    float:left;
    width: 75%;
    padding-right: 15px;
}
.box-right{
    float:right;
    width: 25%;
    padding-left: 15px;
    background-color: aquamarine;
}
.box-left .box-left-1{
    float:left;
    width: 66.67%;
    padding-right: 15px;
}
.box-left .box-left-2{
    float:right;
    width: 33.33%;
    padding-left: 15px;
    background-color: orange;
}
.box-left .left-1-top{
    float: left;
    width: 100%;
    background-color: red;
}
.box-left .left-1-bottom{
    float: left;
    width: 100%;
    background-color: green;
}
