#bd #bx #ph{

}
body .box #ph{

} 
#ph{
    color: orangered ;
}
body .box .grah{

}
.box > .grah{

}
.box .grah{
    color: blue;
}
.grah{
    color: pink;
}
p{
    color: black;
}
p{
    color: green;
}

